.container {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button#advice-btn {
  font-family: "Roboto", sans-serif;
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  .advice-container {
    padding: 10px;
  }

  #twitter-btn {
    padding: 8px;
  }
}
